.motions {
  composes: reset-list motion-container from '../../styles/helpers.css';
}

.motions content {
  padding-top: 1rem;
}

.motions h3 {
  margin: 0 auto 1rem;
}

.motion {
  border-radius: .1rem;
  width: 100%;
  height: 684px;
  overflow-y: scroll;
}

.motion .back {
  position: absolute;
}

.motion h3, .motion figcaption {
  text-align: center;
}

.motion figure {
  padding: 1rem 3rem;
}

.motion img {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}
