.motions {
  position: relative;
  composes: reset-list from '../../styles/helpers.css';
}

.motions content {
  position: absolute auto;
  border-radius: .1rem;
  box-shadow: 0 0 .1rem 0 color(lightgray);
  margin-top: 1rem;
  padding: 0 1rem 1rem;
  width: 100%;
}
