{
  "presets": ["es2015", "stage-0", "react"],
  "plugins": [
    "add-module-exports",
    [
      "babel-plugin-module-alias", [
        {"src": "./common", "expose": "common"},
        {"src": "./config", "expose": "config"}
      ]
    ]
  ],
  "env": {
    "test": {
      "sourceMaps": "inline"
    },
    "production": {
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-inline-elements"
      ]
    }
  }
}
