{
  "plugins": [
    "add-module-exports",
    "transform-async-to-generator",
    "transform-es2015-parameters",
    "transform-es2015-destructuring",
    "transform-es2015-shorthand-properties",
    "transform-es2015-function-name",
    "transform-es2015-modules-commonjs"
  ]
}
