---
extends:
  - eslint:recommended
  - plugin:react/recommended
parser: babel-eslint
parserOptions:
  ecmaVersion: 6
  ecmaFeatures:
    jsx: true
  sourceType: module
env:
  es6: true
  node: true
  mocha: true
  browser: true
plugins:
  - react
rules:
  comma-dangle: [warn, only-multiline]
  comma-spacing: [warn, {before: false, after: true}]
  comma-style: [warn, last, {exceptions: {VariableDeclaration: true}}]
  semi: [error, always, {omitLastInOneLineBlock: true}]

  react/display-name: off
  react/prop-types: off
