.people {
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
}

.people li {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .2em;
  padding: 1em;
  background-color: rgba(202, 32, 39, 1);

  &:not(:last-child) {
    margin-bottom: 1em;
  }
}

.people li a {
  color: white;
  font-weight: bolder;

  &:any-link {
    text-decoration: none;
  }
}
