.people {
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
}

.people li {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 0 1px lightgray;
  border: 2px solid transparent;
  border-radius: .2em;
  padding: 1em;
  opacity: .75;
  transition: all .2s ease-in;

  &:not(:last-child) {
    margin-bottom: 1em;
  }
}

.people li.current {
  box-shadow: 0 1px 9px 0 rgba(202, 32, 39, .33);
  border-width: 2px;
  border-color: rgba(202, 32, 39, .75);
}

.people span {
  color: gray;
  font-weight: bolder;
}

.peoper li.current span {
  color: rgba(202, 32, 39, 1);
}

.selected li {
  background-color: #f4f4f4;
  transform: scale(0.98) !important;
}

.selected li.current {
  background-color: white;
  transform: scale(1) !important;
}
