@import "../../styles/globals.css";

:root {
  --primary-background: rgba(202, 32, 39, 1);
}

.full-cover {
  composes: absolute-full from '../../styles/helpers.css';
  background: linear-gradient(to bottom, transparent 40%, black),
              url("assets/images/intro-background-full.png")
              center / cover no-repeat fixed;

  & article {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    padding: 4.5em 1.5em 1.5em;
    color: lightgray;
  }

  & header {
    margin-bottom: 20;

    & h1 {
      font-size: 1.4em;
      font-weight: normal;
    }
  }

  & p {
    font-size: .8em;
    line-height: 1.5;
  }

  & button {
    position: absolute;
    transform: translateX(-50%);
    top: 75%;
    left: 50%;
    border: none;
    border-radius: 1.5em;
    padding: 0.75em 4em 0.85em;
    background: var(--primary-background);
    font-size: 1em;
    color: white;
  }
}

.full-cover article::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
