@import 'common/styles/globals.css';

:root {
  --cover-image: images/intro-background-full.png;
}

.container {
  /* position: absolute 0 0; */
  padding: 1rem;
  /* width: width(var(--cover-image)); */
  /* height: height(var(--cover-image)); */
  /* background: resolve(var(--cover-image)); */
  /* background-size: size(var(--cover-image)); */
  /*composes: absolute-full from '../../styles/helpers.css';*/
}

.navigation {
  clear: fix;
  padding-bottom: 1rem;
  border-bottom: 1px solid gray;

  & :any-link {
    color: gray;
    text-decoration: none;
  }

  & .active {
    font-weight: bold;
  }

  & a:not(:last-child) {
    margin-right: 1rem;
  }
}
